<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css" />
    <title>Admin Panel</title>
</head>
<body>
    <h1 id="heading">
        Welcome Back! Admin
    </h1>

    <p id="heading2">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut voluptatem delectus voluptas atque sint quod nostrum iusto inventore doloribus totam reprehenderit porro culpa a rerum ex eaque, et quidem quo.
    </p>

    <div id="btn-group1">
        <a href="#products-section">
            Products Section
        </a>
        <a href="#users-section">
            Users Section
        </a>
    </div>
        
    <form id="add_product" method="post" action="/store" enctype="multipart/form-data">
        <h2>
            Add Products Here
        </h2>
  
        <label for="title">
            Vegetable Title:
        </label>
        <input type="text" id="title" name="title" required placeholder="Enter vegetable's name.." />
        
        <label for="description">
            Vegetable Description:
        </label>
        <textarea type="text" id="description" name="description" required placeholder="Enter vegetable's Description.."></textarea>
        
        <label for="price">
            Vegetable Price:
        </label>
        <input type="number" id="price" name="price" required placeholder="Enter vegetable's price.." />
        
        <fieldset>
            <legend>Vegetable Category</legend>
            
            <div>
                <label for="green_vegetable">
                    green vegetable
                </label>
                <input type="checkbox" id="green_vegetable" name="green_vegetable" value="green vegetable">
            </div>
            <div>
                <label for="vegetable">
                    vegetable
                </label>
                <input type="checkbox" id="vegetable" name="vegetable" value="vegetable">
            </div>
            <div>
                <label for="fruit">
                    fruit
                </label>
                <input type="checkbox" id="fruit" name="fruit" value="fruit">
            </div>
            <div>
                <label for="winter">
                    winter
                </label>
                <input type="checkbox" id="winter" name="winter" value="winter">
            </div>
            <div>
                <label for="summer">
                    summer
                </label>
                <input type="checkbox" id="summer" name="summer" value="summer">
            </div>
        </fieldset>

        <label for="image">
            Vegetable Image:
        </label>
        <input type="file" id="image" name="image" required/>

        <label for="max_quantity">
            Vegetable Max Quantity:
        </label>
        <input type="number" id="max_quantity" name="max_quantity" />

        <button type="submit">
            Add Product
        </button>
    </form>

    <div id="products-list">
        
        <% products.forEach((product) => { %>

            <div class="product">
                <img src="<%= product.image.path %>" alt="product images" />
                <h2>
                    <strong>Title :</strong> <%= product.title %>
                </h2>
                <p>
                    <strong>Description :</strong> <%= product.description %>
                </p>
                <p>
                    <strong>Price :</strong> Rs. <%= product.price %>
                </p>
                <p>
                    <strong>Category :</strong> <%= product.category %>
                </p>
                <p>
                    <strong>Max Quantity :</strong> <%= product.max_quantity %>
                </p>
                <div class="product-btns-group1">
                    <form>
                        <button type="submit" id="update_product">
                            Update
                        </button>
                    </form>
                    <form method="post" action="/store/<%= product._id %>?_method=DELETE">
                        <button type="submit" id="delete_product">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        <% }) %>
         
    </div>

    <% if (locals.products || locals.product.length > 0) { %>
        <form method="post" action="/store?_method=DELETE" id="delete_all_products">
            <button type="submit">
                CLEAR ALL PRODUCTS
            </button>
        </form>
    <% } %>
    
</body>
</html>