<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css" />
    <title>Admin Panel</title>
</head>
<body>
    <h1 id="heading">
        Welcome Back! Admin
    </h1>

    <p id="heading2">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut voluptatem delectus voluptas atque sint quod nostrum iusto inventore doloribus totam reprehenderit porro culpa a rerum ex eaque, et quidem quo.
    </p>

    <div id="btn-group1">
        <a href="#add_product">
            Add Products
        </a>
        <a href="#products-list">
            Products Section
        </a>
        <a href="#orders_container">
            Orders Section
        </a>
        <a href="#users_container">
            Users Section
        </a>
    </div>
        
    <form id="add_product" method="post" action="/store" enctype="multipart/form-data">
        <h2>
            Add Products Here
        </h2>
  
        <label for="title">
            Product Title:
        </label>
        <input type="text" id="title" name="title" required placeholder="Enter product's name.." />
        
        <label for="description">
            Product Description:
        </label>
        <textarea type="text" id="description" name="description" required placeholder="Enter product's Description.."></textarea>
        
        <label for="price">
            Product Price:
        </label>
        <input type="number" id="price" name="price" required placeholder="Enter products price.." />

        <label for="price">
            Product Type:
        </label>
        <input type="text" id="Type" name="Type" required placeholder="Enter products type.." />

        <fieldset>
            <legend>Product Category</legend>
            
            <div>
                <label for="green_vegetable">
                    green vegetable
                </label>
                <input type="checkbox" id="green_vegetable" name="green_vegetable" value="green vegetable">
            </div>
            <div>
                <label for="vegetable">
                    vegetable
                </label>
                <input type="checkbox" id="vegetable" name="vegetable" value="vegetable">
            </div>
            <div>
                <label for="fruit">
                    fruit
                </label>
                <input type="checkbox" id="fruit" name="fruit" value="fruit">
            </div>
            <div>
                <label for="winter">
                    winter
                </label>
                <input type="checkbox" id="winter" name="winter" value="winter">
            </div>
            <div>
                <label for="summer">
                    summer
                </label>
                <input type="checkbox" id="summer" name="summer" value="summer">
            </div>
        </fieldset>

        <label for="image">
            Product Image:
        </label>
        <input type="file" id="image" name="image" required/>

        <label for="max_quantity">
            Product Max Quantity:
        </label>
        <input type="number" id="max_quantity" name="max_quantity" />

        <button type="submit">
            Add Product
        </button>
    </form>

    <div id="products-list">
        
        <% products.forEach((product) => { %>

            <div class="product">
                <img src="<%= product.image.path %>" alt="product images" />
                <h2>
                    <strong>Title :</strong> <%= product.title %>
                </h2>
                <p>
                    <strong>Description :</strong> <%= product.description %>
                </p>
                <p>
                    <strong>Type :</strong> <%= product.Type %>
                </p>
                <p>
                    <strong>Price :</strong> Rs. <%= product.price %>
                </p>
                <p>
                    <strong>Category :</strong> <%= product.category %>
                </p>
                <p>
                    <strong>Max Quantity :</strong> <%= product.max_quantity %>
                </p>
                <div class="product-btns-group1">
                    <form method="get" action="/admin/product/update/<%= product._id  %> ">
                        <button type="submit" id="update_product">
                            Update
                        </button>
                    </form>
                    <form method="post" action="/store/<%= product._id %>?_method=DELETE">
                        <button type="submit" id="delete_product">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        <% }) %>
         
    </div>

    <% if (locals.products || locals.product.length > 0) { %>
        <form method="post" action="/store?_method=DELETE" id="delete_all_products">
            <button type="submit">
                CLEAR ALL PRODUCTS
            </button>
        </form>
    <% } %>

    <div id="orders_container">
        <h2>
            Your Order List
        </h2>
        <% if (locals.orders && locals.orders.length <= 0) { %>
            <h3>
                &#128554;
            </h3>
            <h4>
                No Orders are found right now.
            </h4>
        <% } else { %>
            <div id="orders_list">
                <% orders.forEach(order => { %>
                    
                    <div id="order_item">
                        <p>
                            <strong>Username</strong>
                            <span>
                                <%= order.delivery_details.firstname + " " + order.delivery_details.lastname  %> 
                            </span>
                        </p>
                        <p>
                            <strong>Location</strong>
                            <span>
                                <%= order.delivery_details.street %>, <%= order.delivery_details.city %>
                            </span>
                        </p>
                        <p>
                            <strong>Phone no.</strong>
                            <span>
                                <%= order.delivery_details.phone_number %> 
                            </span>
                        </p>
                        <p>
                            <strong>Amount</strong>
                            <span>
                                Rs. <%= order.bill.total %> 
                            </span>
                        </p>
                        <p>
                            <strong>Status</strong>
                            <span>
                                <%= order.status %> 
                            </span>
                        </p>
                        <form method="get" action="/admin/orders/accept/<%= order._id  %>" class="update_order">
                            <button type="submit">
                                Accept Order
                            </button>
                        </form>
                        <form method="get" action="/admin/orders/received/<%= order._id  %>" class="received_order">
                            <button type="submit">
                                Received Order
                            </button>
                        </form>
                        <form method="post" action="/admin/orders/delete/<%= order._id  %>?_method=DELETE" class="delete_order">
                            <button type="submit">
                                Delete Order
                            </button>
                        </form>
                    </div>

                <% }) %>
            </div>
        <% } %> 
    </div>

    <div id="users_container">
        <h2>
            Users List
        </h2>
        <% if (locals.users && locals.users.length <= 0) { %>
            <h3>
                &#128554;
            </h3>
            <h4>
                No Users are found.
            </h4>
        <% } else { %>
            <div id="users_list">
                <% users.forEach(user => { %>
                    
                    <div id="users_item">
                        <p>
                            <strong>Username</strong>
                            <span>
                                <%= user.username %> 
                            </span>
                        </p>
                        <p>
                            <strong>Email</strong>
                            <span>
                                <%= user.email %>
                            </span>
                        </p>
                        <p>
                            <strong>Role</strong>
                            <span>
                                <% if (user.isAdmin) { %>
                                 Admin
                                <% } else { %>
                                    User
                                <% } %> 
                            </span>
                        </p>
                        
                        <form method="post" action="/admin/users/delete/<%= user._id  %>?_method=DELETE" class="delete_user">
                            <button type="submit">
                                Delete User
                            </button>
                        </form>
                    </div>

                <% }) %>
            </div>
        <% } %> 
    </div>
    
</body>
</html>