<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart.css" />
    <title>cart</title>
</head>
<body>
    <%- include('partials/navbar.ejs')  %> 

    <div id="ads">
        <p>
            !! Happy New Year !!
        </p>
    </div>

    <h2 id="paginate">
        <a href="/store">
            / store /
        </a>
        <a href="/cart"> 
            cart
        </a>
    </h2>

    <div id="cart_container">

        <ul id="category">
            <li>Product</li>
            <li>Price</li>
            <li>Quantity</li>
            <li>Total Sum</li>
        </ul>

        <div id="cart_list">

            <% locals.carts.forEach(cart => { %>
                <div class="cart_card">
                    <a href="/store/<%= cart.product._id  %>">
                        <img src="<%= cart.product.image.path  %>" alt="cart product iamge" />
                    </a>
                    <h2 class="product_title">
                        <a href="/store/<%= cart.product._id %>">
                            <%= cart.product.title  %>
                        </a>
                        <span id="per">
                            (+/-)/1kg
                        </span>
                    </h2>
                    <h2 class="product_price">
                        Rs. <%= cart.product.price  %> 
                    </h2>
                    <form class="cart_update" method="post" action="/cart/<%= cart._id  %>?_method=PATCH"> 
                        <input type="number" min="1" max="<%= cart.product.max_quantity  %> " value="<%= cart.product_quantity %>" name="product_quantity" onkeydown="return false" />
                        <button type="submit">
                            <img src="/assets/refresh.png" alt="refresh" />
                        </button>
                    </form>
                    <h2 class="product_total">
                        Rs. <%= cart.total_sum  %> 
                    </h2>
                    <form class="cart_delete" method="post" action="/cart/<%= cart._id  %>?_method=DELETE">
                        <button type="submit">
                            <img src="/assets/delete.png" alt="delete" />
                        </button>
                    </form>
                </div>
            <% }) %>
        </div>

        <div id="cart_summary">
            <div id="cart_summary_info">
                <h2 id="subtotal">
                    <span>
                        Subtotal :
                    </span>
                    <span>
                        Rs. <%= summary.subtotal  %> 
                    </span>
                </h2>
                <h2 id="shipping">
                    <span>
                        Shipping :
                    </span>
                    <span>
                        Rs. <%= summary.shipping_fee %> 
                    </span>
                </h2>
                <h2 id="total">
                    <span>
                        Total :
                    </span>
                    <span id="total_price">
                        Rs. <%= summary.total  %> 
                    </span>
                </h2>
                <form>
                    <button type="submit">
                        Checkout Now
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>