<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/checkout.css" />
    <title>checkout</title>
</head>
<body>
    <%- include('partials/navbar.ejs')  %> 

    <div id="ads">
        <p>
            !! Happy New Year !!
        </p>
    </div>

    <h2 id="paginate">
        <a href="/store">
            / store /
        </a>
        <a href="/cart"> 
            cart /
        </a>
        <a href="/checkout">
            checkout
        </a>
    </h2>

    <div id="checkout_container">

        <div id="shipping_details">
            <h2>
                Shipping Address
            </h2>
            <form method="post" action="/checkout">
                <input type="text" value="Nepal" id="country" name="country" required placeholder="Country/Nation"/>

                <div>
                    <input type="text" id="firstname" name="firstname" required placeholder="First Name" />
                    <input type="text" id="lastname" name="lastname" required placeholder="Last Name" />
                </div>

                <input type="text" id="address" name="address" required placeholder="Address" />

                <div>
                    <input type="number" id="postcode" name="postcode" required placeholder="Postcode" />
                    <input type="text" id="city" name="city" required placeholder="City" />
                    <input type="text" id="street" name="street" required placeholder="Street" />
                </div>

                <input type="tel" id="phone_number" name="phone_number" required placeholder="Phone Number" />

                <label>
                    Special Note about delivery:
                    <br></br>
                    <textarea name="delivery_note" placeholder="some info about my delivery.." required></textarea>
                </label>

                <div>
                    <a href="/cart">
                        &#11013; return to cart
                    </a>
                    <button type="submit">
                        Continue to Shipping
                    </button>
                </div>
            </form>
        </div>

        <div id="cart_details">
            <h2>
                My Cart List
            </h2>
            <div id="cart_list">
                    <% carts.forEach(cart => { %>
                        
                        <div id="cart_item">

                            <img src="<%= cart.product.image.path  %>" alt="product image" />
                            
                            <p>
                                <strong>Name</strong>
                                <span>
                                    <%= cart.product.title  %> 
                                </span>
                            </p>

                            <p>
                                <strong>Qty</strong>
                                <span>
                                    <%= cart.product_quantity %> 
                                </span>
                            </p>

                            <p>
                                <strong>Total Sum</strong>
                                <span>
                                    <%= cart.total_sum %> 
                                </span>
                            </p>

                        </div>

                    <% }) %>
            </div>

            <div id="cart_subtotal">
                <div>
                    <p>Subtotal</p>
                    <h4>
                        Rs. <%= cartBill.subtotal  %> 
                    </h4>
                </div>
                <div>
                    <p>Shipping Fee</p>
                    <h4>
                        Rs. <%= cartBill.shipping_fee  %> 
                    </h4>
                </div>
            </div>
    
            <div id="cart_total">
                <p>Total</p>
                <h4>
                    Rs. <%= cartBill.total_price  %> 
                </h4>
            </div>
        </div>
    </div>

</body>
</html>