<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search.css"/>
    <title>search</title>
</head>
<body>
    <%- include('partials/navbar.ejs')  %> 

    <div id="ads">
        <p>
            !! Happy New Year !!
        </p>
    </div>
    <div id="hero">
        <h2>
            Search Products
        </h2>
    </div>

    <form id="search_products" method="get" action="/search">
        <input type="search" id="search_products" name="q" placeholder="I'm searching for" value="<%= searchText %> " required/>
        <button type="submit">
            SEARCH
        </button>
    </form>

    <div id="products_container">
        <h2>
            <strong><%= count  %></strong> products found for <strong>"<%= searchText  %>"</strong>
        </h2>

        <div id="products_container_list">
            <% products.forEach(product => { %>
                <div class="product_card">
                    <a href="/store/<%= product._id  %> ">
                        <img src="<%= product.image.path  %>" alt="prouct image" />
                    </a>
                    
                    <h2 class="product_title">
                        <a href="/store/<%= product._id  %>">
                            <%= product.title  %> 
                        </a>
                    </h2>
                    <h3 class="product_price">
                        Rs. <%= product.price %>
                    </h3>
                    <p>
                        (+/-)/1kg
                    </p>
                    <div class="product_btns">
                        <form class="product_show" method="get" action="/store/<%= product._id  %> ">
                            <button type="submit">
                                <img src="/assets/show_more.png" alt="show more" title="show more"/>
                            </button>
                        </form>
                        <form class="product_add" method="post" action="/cart/<%= product._id %>">
                            <button type="submit">
                                <img src="/assets/cart_add.jpg" alt="cart add" title="add to cart"/>
                            </button>
                        </form>
                    </div>

                </div>
            <% }) %>
        </div>
    </div>


</body>
</html>